

<section class="grayarea intro-note topspace70"> 
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>STUDENTS</h1>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg" text-align="justify">
				
					<b>Who can participate as a student in Online UWC?</b><br />
					You can sign up for one of our 5 week long Online UWC courses if you are 14-20 years old. If you are younger, you can still review some of our <a href="https://www.youtube.com/channel/UC0uvvvnUly2dQVesT2pBu8Q">past video lectures</a> that have already taken place, but you will not be able to sign up to be a student. If you are over 20 and have graduated from a UWC and/or a university or college, get in touch with us about becoming a mentor by reaching out to hanna[at]onlineuwc.org (see more about what this involves in the Mentors section below).
					<br /><br />
					<b>Is this a UWC short course?</b><br />
					Yes, this is a UWC <a href="http://www.uwc.org/uwc_education/short_programmes/">short course</a> recognised by and run in affiliation with the UWC International Office (IO).
					<br /><br />
					<b>Does it matter where I live?</b><br />
					We are offering the Online UWC September-November 2014 5-week course to young people in the following regions (in three time zones, you can pick the time zone that works best for you):<br />
					Europe, Middle East and Africa (with live lectures and group sessions at 6pm London time)<br />
					Asia and the Pacific (with live lectures and group sessions at 7pm Hong Kong time)<br />
					Americas (with live lectures and group sessions at 6pm New York time)
					<br /><br />
					<b>I’m worried that my English isn’t good enough. Will this be a problem?</b><br />
					Not at all. There will be participants who are native-English speakers and participants who are native-speakers of languages from all over the world. If you are not so confident it will be a great opportunity for you to practise your English in real-world situations, not just describing your family to your teacher! You will be able to chat to your peers face to face during our weekly discussions, and also complete written assignments and social interactions on our Facebook page. No need to be nervous, if you can comfortably understand this FAQ you should be all right in our class.
					<br /><br />
					<b>How will I be assessed?</b><br />
					Don’t worry, you won’t have to sit any exams. At Online UWC we will not give you any multiple choice questions! We want to challenge you and help you grow as thinkers and problem-solvers for the world. We’ll do this through our unique program, which is based primarily on encouraging active participation and completion of class assignments (we require you to attend 3 out of 5 group sessions and complete 3 out of 5 assignments, as well as the final project which you will be asked to implement in your local community.
					<br /><br />
					<b>How do I sign up?</b><br />
					Go to our student <a href="https://docs.google.com/forms/d/1AyhbRDJYxeWACifHjKVe1IkVX1BqxxJasAE7SJkk4wk/viewform">sign up form</a>! You will be able to pay via our <a href="https://www.paypal.com/uk/cgi-bin/webscr?cmd=_flow&SESSION=kgGIg5oJkn0HW5l32BPpfRYYKTUzaum82hyNJpH4D_K1cfGRBiJBBCG1v6q&dispatch=50a222a57771920b6a3d7b606239e4d529b525e0b7e69bf0224adecfb0124e9b61f737ba21b081987669d951670e57a34adba9dd19029ce5">PayPal link</a>.
					<br /><br />
					<b>How much does it cost?</b><br />
					The cost for the 5-week Online UWC programme running from March 3 2014 - April 3rd is 15 GBP. Online UWC is a not for profit short course (and we spend the proceed from the course to cover the basic costs for running this course, including marketing and software development, though we aim to return at least 20% of the course proceeds back to the UWC community). If you would like to attend this course, but your parents do not have 15 GBP to spare, please do apply and let us know in your application that you would like to apply for financial aid.

					<br />
					<br />

			</p>
			</div>
		</div>
	</div>
</div>
</section>

<section class="intro-note topspace70"> 
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>MENTORS</h1>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg">
				<b>Who can sign up to be a mentor for Online UWC?</b><br />
				Any UWC or university/college graduate with an interest in sustainability is welcome to apply to be a mentor. Also, if you have graduated from a previous edition of Online UWC course you are also eligible to apply to be a mentor (contact hanna[at]onlineuwc.org).
				<br /><br />
				<b>What exactly does being a mentor entail?</b><br />
				There are a number of ways you can help as mentor for Online UWC. You can:
				Help us build the curriculum. This is done prior to the start of the course.
				Volunteer as an expert lecturer (or help us find one) for a topic. This involves giving a 20-30 minute presentation followed by 30-40 mins of questions from and discussion with students.
				During the 5 week course, facilitate the weekly group session, which is held the day after the video lecture. This lasts for an hour. Your role is more of a chair, steering the discussion in the right direction and announcing the week’s assignment.
				A combination of any or all of the above
				<br /><br />
				<b>What is the time commitment for me as a mentor?</b><br />
				Depending on your role and how much you want to be involved this can be anything upwards of one hour a week. We are very flexible and try to do as much as we can for mentors to be able to fit their volunteering around their busy schedules.
				<br /><br />
				<b>How do I sign up?</b><br />
				The easiest way is to get in touch directly with hanna[at]onlineuwc.org. 
				<br /><br />
				<b>Does it cost anything?</b><br />
				No. You are already contributing a huge amount to the students and we thank you for that!
				<br /><br />
				<b>What do I get in return?</b><br />
				A chance to meet, work with and challenge an enthusiastic and idealistic group of students from around the world. A chance to be involved with a groundbreaking development in online education. The mentors come from several different fields and are a great team to work with. You get the chance to volunteer with a great educational initiative which helps spread the UWC values from the comfort of your home.
				<br /><br />
				<b>Do I have to have a connection with UWC?</b><br />
				Not at all. We welcome any volunteers with the will and knowledge to help our course be a success. Some knowledge of the <a href="http://uwc.org/about_uwc/default.aspx">UWC movement</a> is useful to know the background behind the Online UWC but is not necessary.

					<br />
					<br />

			</p>
			</div>
		</div>
	</div>
</div>
</section>

<section class="grayarea intro-note topspace70"> 
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>HOW THE COURSE WORKS</h1>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg">
			<b>How does a week of Online UWC classes work?</b><br />
			There are three main elements that make Online UWC courses different. Every week we look at a different topic, but the rhythm of the class stays the same. On Friday before the week starts you receive an email with detailed class schedule and your assignments (this may require some reading, watching, research, writing, creativity and critical thinking). On Wednesday, around 6pm in your time zone, we organize a live Hangout on Air with the expert, where you have a chance to ask all of your questions. On Thursday, also around 6pm in your time zone you have the opportunity to speak to your classmates in a smaller group (with 5-10 students, depending on participation). Depending on the week, you may also be given additional assignments, which will give you a chance to meet in person students from a different region.
			<br /><br />
			<b>What makes Online UWC courses different?</b><br />
			We believe in student led education. This means that you are responsible for your own learning. You will be asked to lead group discussions and create your own community projects. We provide you with suggestions about things that we find interesting as part of our curriculum. However, you are always encouraged to find your own reading resources and guide your own direction of research. We assign homework prompts, but we give you complete freedom of how to complete them. As previous homeworks we have received infographics, videos, and yes, also songs and poems. Also, we’re not a typical online class, because you will actually be meeting to people and talking to them in live hangouts. It’s a really fun way to learn!
			<br /><br />
			<b>What is the time commitment?</b><br />
			The time commitment for you as a student of Online UWC is around 3-6 hours a week. There is a 1 hour video lecture each week and 1-2 hours of group discussion and assignment time. On top of this you have pre-class readings and many students choose to spend more time working on assignments with their fellow students.

					<br />
					<br />

			</p>
			</div>
		</div>
	</div>
</div>
</section>

<section class="intro-note topspace70"> 
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>TECHNOLOGY</h1>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg">
<b>What technology will I need?</b><br />
You will need a computer with access to the internet, a webcam, microphone and headphones. To access the video lectures and discussions you should have a high-speed internet connection.
See our <a href="https://docs.google.com/document/d/1LrDmULRgSbNHdyZWtTQHdLWrg_VwmHt8KdxtEm8TZ2w/edit">Setting Up page</a> for more information and how to test your internet connection.
<br />
					<br />
<b>Do I need to download any software?</b><br />
Not really. All the software we use is free and available on the internet. You will need a Google account (sign up for one free here). If you don’t have an @gmail.com email account you can keep your email address (e.g. with @live.com, @outlook.com or @yahoo.com) but create a linked Google account here. 
You will also need a Facebook account since most of our non-class discussion will take place on Facebook.
The one thing you possibly need to download, if you don’t have it already, is Google’s free Talk browser extension/plug-in, which allows you to run Google Hangouts. This is the video programme, similar to Skype, which we use to hold the video lectures and group discussions. Click on <a href="https://www.google.com/hangouts/">this link</a> to download the Google Talk browser extension/plug-in and click on “Available for your computer”.
<br />
					<br />
<b>I don’t have my own computer. Is that ok?</b><br />
Yes, that’s fine. As long as you have access to a computer with a relatively good internet connection, webcam, microphone and headphones then you should have no problems taking part in the course.


					<br />
					<br />

			</p>
			</div>
		</div>
	</div>
</div>
</section>

<section class="grayarea intro-note topspace70"> 
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>LEGAL</h1>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg">
<b>Do you have a privacy policy?</b><br />
Yes, it is available to read in our <a href="https://docs.google.com/document/d/1z47Z-h57tIGM0ATTW0wFjbwst9Oh9nUYzBzSLtcC328/edit?usp=sharing">Legal Stuff</a> section.
	<br />
					<br />
<b>Are you licensed as a UWC short course?</b> <br />
Yes, we are affiliated with the <a href="http://uwc.org/uwc_education/short_programmes/default.aspx">UWC IO</a>.
					<br />
					<br />

			</p>
			</div>
		</div>
	</div>
</div>
</section>

<section class="intro-note topspace70"> 
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>More questions?</h1>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg">
Get in touch with us at hanna[at]onlineuwc.org.
					
<br />
					<br />
			</p>
			</div>
		</div>
	</div>
</div>
</section>
