// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Global useful classes */

.colored {
    color: rgb(87, 168, 62);
}

.centered {
    text-align: center;
}

.lefted {
    text-align: left;
}

.righted {
    text-align: right;
}


/* Courses list styles */ 

h2.class-title {
    text-align: left;
    font-size: 20px;
}

.punchline {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.fil-ariane {
    font-weight: normal;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.course-img-mini {
    width: 100%;
    min-height: 165px;
}

.info-box.wrap-courses {
    max-width: 350px;
    margin: 0 auto 15px;
}

.info-box.wrap-courses .info-box-inner {
    padding: 15px 0px !important;
}

.learn-more {
    text-align: right;
}

.counter {
    padding: 10px 15px;
    text-align: center;
}

.count-text {
    font-size: 15px;
}

.subscribe {
    margin-top: 10px;
}


/* Courses details styles */ 

h4.fil-ariane {
    margin: 20px 0 15px;
    text-align: left;
    font-size: 12px;
    color: black;
}

a.pay-btn {
    display: inline-block;
    margin: 10px 0 0 15px;
}

a.apply-btn {
    margin: 10px 0 0 0px;
}

.course-log {
    padding-left: 15px;
    border-left: 1px solid #eee;
}

h3.log-name {
    font-size: 20px;
    color: #777;
    text-transform: lowercase;
}

h3.log-name i {
    color: rgb(87, 168, 62);
    margin: 0 20px 0 0;
}

ul.details {
    margin-left: 30px;
}

.field {
    input, textarea {
        width: 100%;
    }

    textarea {
        height: 120px;
    }
}