// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body.home {
	height: 100%;
	padding: 0;
	margin: 0;
	background: image-url("sky_background.jpg");
	background-size: 100%;
}
body {
	min-height: 600px;
}


.login {
	position: absolute;
	top: 30px;
	right: 20px;
	z-index: 3;
}

.how{
	margin-bottom: 30px;
}

.wrapMain {
	width: 100%;
	max-height: 600px;
	margin-top: 0px;
	position: absolute;
	top: 20%;
	z-index: 2;


	.main {
		max-width: 600px;
		padding: 50px;
		margin: 0 auto;

		h4 {
			font-size: 33px;
			line-height: 25px;
			margin: 0 0 20px 0;
		}

		small, small * {
			font-size: 12px;
			color: #666;
		}

		.continue_buttons:hover{
			background-color:rgba(57,57,57,0.87);
			font-color:white;
		}

		img.logo_home{
			display:block;
			margin-left:auto;
			margin-right:auto
		}

		.pitch {
			margin-top: 30px;
			color: white;
			font-style: italic;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
		}
	}
}

@media screen and (max-height: 600px){
	.wrapMain{
		margin-top:0px;
		position:absolute;
		top:5%;
		z-index:2
	}
}

.continue_button {
	text-align: center;
	margin-top: 50px;
}


a.empty-btn, a.full-btn {
	display: inline-block;
	text-align: center;
	width: 25%;
	/*padding:14px;*/
	border: 1px solid white;
	font-size: 13px;
	font-weight: 600;
	text-decoration: none;
}

a.empty-btn {
	background-color: transparent;
	color: white;
}

a.full-btn {
	background-color: white;
	color: #666;
}

.mini_footer {
	position: absolute;
	margin-bottom: 25px;
	&, a {
		color: white !important;
	}
	bottom: 0;
	width: 100%;
	font-size: 15px;
	text-align: center;
	z-index: 3;
}

.img-circle {
	width:150px; height:150px;
}

.carousel {
	text-align: left;
	float: none;
	position: absolute;
	top: 0px;
	right: auto;
	bottom: auto;
	left: 0px;
	margin: 0px; z-index: auto;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.caroufredsel_wrapper {
	width: 100% !important;
	height: 100% !important;


	.carousel div {
		width: 100%;
		height: 100%;
		overflow: hidden;
		float: left;

		img {
			width: auto;
			height: auto;
			min-width: 100%;
			min-height: 100%;
		}
	}
}